.vp-woo-pont-provider-icon {
	&-foxpost {background-image: url(../images/icon-foxpost.svg);}
	&-foxpost_foxpost {background-image: url(../images/icon-foxpost.svg);}
	&-foxpost_abox {background-image: url(../images/icon-foxpost.svg);}
	&-foxpost_zbox {background-image: url(../images/icon-foxpost.svg);}
	&-postapont {background-image: url(../images/icon-postapont-csomagautomata.svg);}
	&-mpl {background-image: url(../images/icon-postapont-posta.svg);}
	&-posta {background-image: url(../images/icon-mpl.svg);}
	&-postapont_10 {background-image: url(../images/icon-postapont-posta.svg);}
	&-postapont_20 {background-image: url(../images/icon-postapont-mol.svg);}
	&-postapont_30 {background-image: url(../images/icon-postapont-csomagautomata.svg);}
	&-postapont_50 {background-image: url(../images/icon-postapont-coop.svg);}
	&-postapont_70 {background-image: url(../images/icon-postapont-mediamarkt.svg);}
	&-postapont_posta {background-image: url(../images/icon-postapont-posta.svg);}
	&-postapont_mol {background-image: url(../images/icon-postapont-mol.svg);}
	&-postapont_automata {background-image: url(../images/icon-postapont-csomagautomata.svg);}
	&-postapont_coop {background-image: url(../images/icon-postapont-coop.svg);}
	&-postapont_mediamarkt {background-image: url(../images/icon-postapont-mediamarkt.svg);}
	&-postapont_postapont {background-image: url(../images/icon-postapont.svg);}
	&-packeta {background-image: url(../images/icon-packeta.svg);}
	&-packeta_zbox {background-image: url(../images/icon-packeta-zbox.svg);}
	&-packeta_shop {background-image: url(../images/icon-packeta.svg);}
	&-packeta_zpont {background-image: url(../images/icon-packeta.svg);}
	&-packeta_mpl_postapont {background-image: url(../images/icon-postapont-posta.svg);}
	&-packeta_mpl_automata {background-image: url(../images/icon-postapont-csomagautomata.svg);}
	&-packeta_foxpost {background-image: url(../images/icon-foxpost.svg);}
	&-sprinter {background-image: url(../images/icon-sprinter.svg);}
	&-expressone {background-image: url(../images/icon-expressone.svg);}
	&-expressone_alzabox {background-image: url(../images/icon-expressone-alzabox.svg);}
	&-expressone_omv {background-image: url(../images/icon-expressone-omv.svg);}
	&-expressone_packeta {background-image: url(../images/icon-expressone-packeta.svg);}
	&-expressone_exobox {background-image: url(../images/icon-expressone.svg);}
	&-gls {background-image: url(../images/icon-gls.svg);}
	&-gls_locker {background-image: url(../images/icon-gls-locker.svg);}
	&-gls_shop {background-image: url(../images/icon-gls-shop.svg);}
	&-dpd {background-image: url(../images/icon-dpd.svg);}
	&-dpd_alzabox {background-image: url(../images/icon-expressone-alzabox.svg);}
	&-dpd_parcelshop {background-image: url(../images/icon-dpd.svg);}
	&-sameday {background-image: url(../images/icon-easybox.svg);}
	&-sameday_easybox {background-image: url(../images/icon-easybox.svg);}
	&-sameday_pick-pack-pont {background-image: url(../images/icon-sameday-pickpackpont.svg);}
	&-custom {background-image: url(../images/icon-custom.svg);}
	&-transsped {background-image: url(../images/icon-transsped.svg);}
	&-pactic {background-image: url(../images/icon-pactic.svg);}
	&-pactic_gls {background-image: url(../images/icon-gls.svg);}
	&-pactic_sk_gls {background-image: url(../images/icon-gls.svg);}
	&-pactic_hr_gls {background-image: url(../images/icon-gls.svg);}
	&-pactic_si_gls {background-image: url(../images/icon-gls.svg);}
	&-pactic_sameday {background-image: url(../images/icon-easybox.svg);}
	&-pactic_ro_sameday {background-image: url(../images/icon-easybox.svg);}
	&-pactic_inpost {background-image: url(../images/icon-inpost.svg);}
	&-pactic_pl_inpost {background-image: url(../images/icon-inpost.svg);}
	&-pactic_econt {background-image: url(../images/icon-econt.svg);}
	&-pactic_bg_econt {background-image: url(../images/icon-econt.svg);}
	&-pactic_post {background-image: url(../images/icon-sk-post.svg);}
	&-pactic_sk_post {background-image: url(../images/icon-sk-post.svg);}
	&-pactic_ppl {background-image: url(../images/icon-ppl.svg);}
	&-pactic_cz_ppl {background-image: url(../images/icon-ppl.svg);}
	&-csomagpiac {background-image: url(../images/icon-csomagpiac.svg);}
	&-csomagpiac_dpd {background-image: url(../images/icon-dpd.svg);}
	&-csomagpiac_sameday {background-image: url(../images/icon-easybox.svg);}
	&-csomagpiac_mpl_postapont {background-image: url(../images/icon-postapont.svg);}
	&-csomagpiac_mpl_posta {background-image: url(../images/icon-postapont-posta.svg);}
	&-csomagpiac_mpl_automata {background-image: url(../images/icon-postapont-csomagautomata.svg);}
	&-dhl {background-image: url(../images/icon-dhl.svg);}
	&-famafutar {background-image: url(../images/icon-famafutar.svg);}
	
	&-kvikk {background-image: url(../images/icon-kvikk.svg);}
	&-kvikk_packeta {background-image: url(../images/icon-packeta.svg);}
	&-kvikk_mpl {background-image: url(../images/icon-mpl.svg);}
	&-kvikk_expressone {background-image: url(../images/icon-expressone.svg);}
	&-kvikk_famafutar {background-image: url(../images/icon-famafutar.svg);}
	&-kvikk_mpl_postapont {background-image: url(../images/icon-postapont.svg);}
	&-kvikk_mpl_posta {background-image: url(../images/icon-postapont-posta.svg);}
	&-kvikk_mpl_automata {background-image: url(../images/icon-postapont-csomagautomata.svg);}
	&-kvikk_packeta_zpont {background-image: url(../images/icon-packeta.svg);}
	&-kvikk_packeta_zbox {background-image: url(../images/icon-packeta-zbox.svg);}
	&-kvikk_foxpost {background-image: url(../images/icon-foxpost.svg);}
	&-kvikk_alzabox {background-image: url(../images/icon-expressone-alzabox.svg);}
	&-kvikk_expressone_omv {background-image: url(../images/icon-expressone-omv.svg);}
	&-kvikk_dhl {background-image: url(../images/icon-dhl.svg);}
	&-kvikk_gls {background-image: url(../images/icon-gls.svg);}
	&-kvikk_gls_shop {background-image: url(../images/icon-gls-shop.svg);}
	&-kvikk_gls_locker {background-image: url(../images/icon-gls-locker.svg);}
	&-kvikk_dpd {background-image: url(../images/icon-dpd.svg);}
	&-kvikk_dpd_parcelshop {background-image: url(../images/icon-dpd.svg);}
	&-kvikk_dpd_alzabox {background-image: url(../images/icon-expressone-alzabox.svg);}

	//External packeta groups
	&-packeta_33777, &-packeta_35369, &-packeta_20409, &-packeta_35319 {background-image: url(../images/icon-boxnow.svg);}
	&-packeta_25989, &-packeta_25985, &-packeta_25992, &-packeta_25988, &-packeta_25990, &-packeta_25987 {background-image: url(../images/icon-venipak.svg);}
	&-packeta_7455, &-packeta_26067 {background-image: url(../images/icon-easybox.svg);}
	&-packeta_19470, &-packeta_19471 {background-image: url(../images/icon-econt.svg);}
	&-packeta_3060 {background-image: url(../images/icon-inpost.svg);}
	&-packeta_5066, &-packeta_5064, &-packeta_5061, &-packeta_5062 {background-image: url(../images/icon-omniva.svg);}
	&-packeta_32428 {background-image: url(../images/icon-fanbox.svg);}
	&-packeta_7910 {background-image: url(../images/icon-bpost.svg);}
	&-packeta_4017 {background-image: url(../images/icon-dpd.svg);}
	&-packeta_6828 {background-image: url(../images/icon-hermes.svg);}
	&-packeta_4994, &-packeta_4828, &-packeta_4826 {background-image: url(../images/icon-postnord.svg);}
	&-packeta_4654, &-packeta_4656 {background-image: url(../images/icon-mrw.svg);}
	&-packeta_26986, &-packeta_26987 {background-image: url(../images/icon-matkahuolto.svg);}
	&-packeta_4307 {background-image: url(../images/icon-colissimo.svg);}
	&-packeta_12889 {background-image: url(../images/icon-mondial.svg);}
	&-packeta_17467 {background-image: url(../images/icon-acs.svg);}
	&-packeta_27955 {background-image: url(../images/icon-elta.svg);}
	&-packeta_10619 {background-image: url(../images/icon-expressone.svg);}
	&-packeta_29678, &-packeta_9104 {background-image: url(../images/icon-dpd.svg);}
	&-packeta_32528, &-packeta_29660 {background-image: url(../images/icon-punto-poste.svg);}
	&-packeta_18809 {background-image: url(../images/icon-lt-post.svg);}
	&-packeta_8001 {background-image: url(../images/icon-kvikk-dhl.svg);}
	&-packeta_14052 {background-image: url(../images/icon-pl-posta.svg);}
	&-packeta_25005 {background-image: url(../images/icon-expressone.svg);}
	&-packeta_19516, &-packeta_19517 {background-image: url(../images/icon-sk-posta.svg);}
	&-packeta_3616 {background-image: url(../images/icon-novapost.svg);}	
	&-packeta_4635 {background-image: url(../images/icon-hr-posta.svg);}
	&-packeta_4539 {background-image: url(../images/icon-postapont-posta.svg);}
	&-packeta_29760 {background-image: url(../images/icon-postapont-csomagautomata.svg);}
	&-packeta_32970 {background-image: url(../images/icon-foxpost.svg);}
}

.wp-admin {
	.vp-woo-pont-provider-icon {
		&-kvikk_packeta_zpont {background-image: url(../images/icon-kvikk-packeta-zpont.svg); width: 72px !important;background-size: 100% !important;}
		&-kvikk_packeta_zbox {background-image: url(../images/icon-kvikk-packeta-zbox.svg); width: 72px !important;background-size: 100% !important;}

		&-kvikk_foxpost, &-kvikk_packeta_foxpost {background-image: url(../images/icon-kvikk-packeta-foxpost.svg); width: 72px !important;background-size: 100% !important;}
		&-kvikk_alzabox, &-kvikk_expressone_alzabox {background-image: url(../images/icon-kvikk-expressone-alzabox.svg); width: 72px !important;background-size: 100% !important;}
		&-kvikk_expressone_omv {background-image: url(../images/icon-kvikk-expressone-omv.svg); width: 72px !important;background-size: 100% !important;}

		&-kvikk_mpl_postapont {background-image: url(../images/icon-kvikk-mpl-postapont.svg); width: 72px !important;background-size: 100% !important;}
		&-kvikk_mpl_posta {background-image: url(../images/icon-kvikk-mpl-posta.svg); width: 72px !important;background-size: 100% !important;}
		&-kvikk_mpl_automata {background-image: url(../images/icon-kvikk-mpl-automata.svg); width: 72px !important;background-size: 100% !important;}

		&-kvikk_packeta {background-image: url(../images/icon-kvikk-packeta.svg); width: 72px !important;background-size: 100% !important;}
		&-kvikk_expressone {background-image: url(../images/icon-kvikk-expressone.svg); width: 72px !important;background-size: 100% !important;}
		&-kvikk_mpl {background-image: url(../images/icon-kvikk-mpl.svg); width: 72px !important;background-size: 100% !important;}
		&-kvikk_famafutar {background-image: url(../images/icon-kvikk-famafutar.svg); width: 72px !important;background-size: 100% !important;}	

		&-kvikk_dhl {background-image: url(../images/icon-kvikk-dhl.svg); width: 72px !important;background-size: 100% !important;}	

		&-kvikk_gls {background-image: url(../images/icon-kvikk-gls.svg); width: 72px !important;background-size: 100% !important;}	
		&-kvikk_gls_shop {background-image: url(../images/icon-kvikk-gls-shop.svg); width: 72px !important;background-size: 100% !important;}	
		&-kvikk_gls_locker {background-image: url(../images/icon-kvikk-gls-locker.svg); width: 72px !important;background-size: 100% !important;}	

		&-kvikk_dpd {background-image: url(../images/icon-kvikk-dpd.svg); width: 72px !important;background-size: 100% !important;}	
		&-kvikk_dpd_parcelshop {background-image: url(../images/icon-kvikk-dpd.svg); width: 72px !important;background-size: 100% !important;}	
		&-kvikk_dpd_alzabox {background-image: url(../images/icon-kvikk-expressone-alzabox.svg); width: 72px !important;background-size: 100% !important;}
	}
}

.vp-woo-pont-feature-icon {
	&-milkrun {background-image: url(../images/feature-milkrun.svg);}
}