@charset "UTF-8";
#vp_woo_pont_metabox .inside,
#vp_woo_pont_metabox_tracking .inside {
  padding: 0;
  margin: 0 !important;
}

#vp_woo_pont_metabox_tracking .inside ul.order_notes li {
  padding: 0 10px;
}

#vp_woo_pont_metabox_tracking .inside ul.order_notes li .note_content {
  transition: all ease 1s;
}

#vp_woo_pont_metabox_tracking .add_note {
  padding: 10px;
}

.vp-woo-pont-modal-tracking ul.order_notes {
  margin: 0;
}

.vp-woo-pont-modal-tracking article {
  min-height: 123px;
}

.vp-woo-pont-modal-tracking-number {
  display: block;
}

.vp-woo-pont-metabox-unsupported {
  padding: 0 10px;
}

.vp-woo-pont-metabox-settings {
  display: flex;
  padding: 15px 10px;
  text-decoration: none;
  align-items: center;
  color: inherit;
}

.vp-woo-pont-metabox-settings:hover {
  text-decoration: none;
  color: inherit;
}

.vp-woo-pont-metabox-settings span.dashicons {
  color: #FF6767;
}

.vp-woo-pont-metabox-disabled {
  padding: 15px 10px;
  display: none;
}

.vp-woo-pont-metabox-disabled.show {
  display: block;
}

.vp-woo-pont-metabox-disabled p {
  margin: 0;
}

.vp-woo-pont-metabox-disabled p:first-child {
  margin: 0 0 10px 0;
}

.vp-woo-pont-metabox-rows {
  margin: 0;
  padding: 0;
}

.vp-woo-pont-metabox-rows-label-download {
  display: flex;
  flex-direction: column;
}

.vp-woo-pont-metabox-rows-label-download > span {
  font-weight: 600;
}

.vp-woo-pont-metabox-rows-label-download > span,
.vp-woo-pont-metabox-rows-label-download > small {
  margin-bottom: 5px;
}

.vp-woo-pont-metabox-rows-label-download a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.vp-woo-pont-metabox-rows-label-download a strong {
  text-decoration: underline;
  font-weight: normal;
  margin-left: 3px;
}

.vp-woo-pont-metabox-rows-label-print {
  margin-left: auto;
}

.vp-woo-pont-metabox-rows-label-print a {
  width: 42px;
  height: 30px;
  background: rgba(35, 113, 177, 0.1);
  border: 1px solid #2371B1;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2371B1;
}

.vp-woo-pont-metabox-rows-label-print[data-format="A4-L"] {
  display: flex;
  flex-wrap: wrap;
  width: 92px;
  height: 65px;
  display: grid;
  gap: 5px;
}

.vp-woo-pont-metabox-rows-label-print[data-format="A4-L"][data-layout="grid"][data-sections="4"] {
  grid-template-columns: 1fr 1fr;
}

.vp-woo-pont-metabox-rows-label-print[data-format="A4-L"][data-layout="grid"][data-sections="2"] {
  grid-template-columns: 1fr 1fr;
}

.vp-woo-pont-metabox-rows-label-print[data-format="A4"] {
  display: flex;
  flex-wrap: wrap;
  width: 65px;
  height: 100px;
  display: grid;
  gap: 5px;
}

.vp-woo-pont-metabox-rows-label-print[data-format="A4"][data-layout="grid"] {
  grid-template-columns: 1fr 1fr;
}

.vp-woo-pont-metabox-rows-label-print[data-format="A4"][data-sections="16"] {
  width: 88px;
  height: 125px;
}

.vp-woo-pont-metabox-rows-label-print div {
  border: 1px dashed #979797;
  border-radius: 2px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.vp-woo-pont-metabox-rows-label-print div:before {
  content: "\f193";
  font-family: dashicons;
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px;
  opacity: 0;
  transition: all ease 0.2s;
  color: #979797;
}

.vp-woo-pont-metabox-rows-label-print div:hover:before {
  opacity: 1;
}

.vp-woo-pont-metabox-rows-label-print div.selected {
  background: rgba(35, 113, 177, 0.1);
  border: 1px solid #2371B1;
}

.vp-woo-pont-metabox-rows-label-print div.selected:before {
  opacity: 1;
  color: #2371B1;
}

.vp-woo-pont-metabox-rows-data {
  display: none;
  padding: 14px 10px;
  border-bottom: 1px solid #eee;
  margin: 0;
}

.vp-woo-pont-metabox-rows-data-inside {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.vp-woo-pont-metabox-rows-data-provider strong {
  margin-right: auto;
}

.vp-woo-pont-metabox-rows-data-provider span {
  text-align: right;
}

.vp-woo-pont-metabox-rows-data-provider i {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.vp-woo-pont-metabox-rows-data-home-delivery-providers {
  padding: 0;
}

.vp-woo-pont-metabox-rows-data-home-delivery-providers ul {
  padding: 0;
  margin: 0;
}

.vp-woo-pont-metabox-rows-data-home-delivery-providers ul li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eee;
  position: relative;
}

.vp-woo-pont-metabox-rows-data-home-delivery-providers ul li input {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.vp-woo-pont-metabox-rows-data-home-delivery-providers ul li label {
  display: block;
  font-weight: bold;
  padding: 14px 10px 14px 36px;
  display: flex;
  align-items: center;
}

.vp-woo-pont-metabox-rows-data-home-delivery-providers ul li label i {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-right: 10px;
  display: block;
}

.vp-woo-pont-metabox-rows-data-home-delivery-providers ul li label:hover {
  background: rgba(0, 0, 0, 0.02);
}

.vp-woo-pont-metabox-rows-data-remove a {
  color: var(--wc-red);
}

.vp-woo-pont-metabox-rows-data.show {
  display: block;
}

.vp-woo-pont-metabox-rows-data a:focus {
  box-shadow: none;
}

.vp-woo-pont-metabox-rows-data-weight {
  position: relative;
}

.vp-woo-pont-metabox-rows-data-weight input {
  width: 128px;
}

.vp-woo-pont-metabox-rows-data-weight em {
  height: 30px;
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
  opacity: 0.5;
  font-style: normal;
  transition: all ease 0.3s;
  display: block;
}

.vp-woo-pont-metabox-rows-data-weight.saved em:after {
  opacity: 1;
}

.vp-woo-pont-metabox-generate {
  display: none;
}

.vp-woo-pont-metabox-generate.show {
  display: block;
}

.vp-woo-pont-metabox-generate-buttons {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vp-woo-pont-metabox-generate-buttons a:first-child {
  display: flex;
  font-weight: 600;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.vp-woo-pont-metabox-generate-buttons a:first-child:focus {
  box-shadow: none;
}

.vp-woo-pont-metabox-generate-buttons a:first-child span.dashicons {
  color: #CCD0D4;
  font-weight: normal;
  margin-right: 5px;
  transition: all ease 0.5s;
}

.vp-woo-pont-metabox-generate-buttons a:first-child.active span.dashicons {
  transform: rotate(45deg);
  color: #0073AA;
}

.vp-woo-pont-metabox-generate-buttons a.button {
  margin-left: auto;
}

.vp-woo-pont-metabox-generate-options {
  margin: 0;
  padding: 10px 10px 0;
  border-top: 1px solid #eee;
}

.vp-woo-pont-metabox-generate-options li {
  margin: 0 0 20px 0;
  position: relative;
}

.vp-woo-pont-metabox-generate-options li li {
  margin: 0 0 10px 0;
}

.vp-woo-pont-metabox-generate-options li label {
  display: block;
  margin: 0 0 5px 0;
  color: #555D66;
  white-space: nowrap;
}

.vp-woo-pont-metabox-generate-options li em {
  height: 30px;
  position: absolute;
  right: 8px;
  bottom: 0px;
  line-height: 30px;
  opacity: 0.5;
  font-style: normal;
}

.vp-woo-pont-metabox-generate-options li textarea, .vp-woo-pont-metabox-generate-options li input[type="number"], .vp-woo-pont-metabox-generate-options li input[type="text"], .vp-woo-pont-metabox-generate-options li select {
  width: 100%;
  margin: 0;
}

.vp-woo-pont-metabox-generate-options li select {
  min-height: 30px;
  max-width: none;
}

.vp-woo-pont-metabox-generate-options li.vp-woo-pont-package-weight em  {
  display: block;
}

.vp-woo-pont-metabox-generate-options li.vp-woo-pont-package-weight em:after {
  position: absolute;
  left: 0;
  top: 1px;
  right: 0;
  bottom: 1px;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect x='0' fill='none' width='20' height='20'/%3E%3Cg%3E%3Cpath fill='%232271b1' d='M14.83 4.89l1.34.94-5.81 8.38H9.02L5.78 9.67l1.34-1.25 2.57 2.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center right;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all ease 0.3s;
  display: block;
  content: '';
}

.vp-woo-pont-metabox-generate-options li.vp-woo-pont-package-weight.saved em {
  opacity: 1;
}

.vp-woo-pont-metabox-generate-options li.vp-woo-pont-package-weight.saved em:after {
  opacity: 1;
}

.vp-woo-pont-metabox-generate-options-type label {
  margin: 0 0 5px 0;
}

.vp-woo-pont-metabox-generate-options-group ul {
  display: flex;
}

.vp-woo-pont-metabox-generate-options-group ul li {
  margin: 0;
}

.vp-woo-pont-metabox-generate-options-group ul li:first-child {
  flex: 1;
}

.vp-woo-pont-metabox-generate-options-group ul li:last-child {
  padding-left: 20px;
}

.vp-woo-pont-metabox-generate-options-group ul input[type="number"]::-webkit-outer-spin-button,
.vp-woo-pont-metabox-generate-options-group ul input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vp-woo-pont-metabox-generate-options-group ul input[type="number"] {
  -moz-appearance: textfield;
}

.vp-woo-pont-metabox-messages {
  background: #cfede3;
  padding: 0 2px 0 10px;
  color: rgba(0, 0, 0, 0.7);
}

.vp-woo-pont-metabox-messages-error {
  background: #eccccc;
}

.vp-woo-pont-metabox-messages-content {
  display: flex;
}

.vp-woo-pont-metabox-messages a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 10px;
  color: #aa0000;
  color: rgba(0, 0, 0, 0.5);
  flex-grow: 0;
  flex-shrink: 0;
  outline: 0;
}

.vp-woo-pont-metabox-messages a:focus {
  box-shadow: none;
}

.vp-woo-pont-metabox-messages ul {
  margin: 0;
  padding: 15px 0;
  width: 100%;
}

.vp-woo-pont-metabox-messages ul li {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.vp-woo-pont-modal-replace .wc-backbone-modal-main {
  padding-bottom: 0;
}

.vp-woo-pont-modal-replace article {
  padding: 0 !important;
}

.vp-woo-pont-modal-replace-providers {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 5px 15px;
}

.vp-woo-pont-modal-replace-providers li label {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}

.vp-woo-pont-modal-replace-providers li label i {
  width: 24px;
  height: 24px;
  background-size: contain;
  margin: 0 10px;
}

.vp-woo-pont-modal-replace-providers li label input {
  margin: 0;
}

.vp-woo-pont-modal-replace-providers li.selected label {
  background: #f0f6fc;
}

.vp-woo-pont-modal-replace-results {
  border-top: 1px solid #CCD0D4;
  margin: 0;
}

.vp-woo-pont-modal-replace-options-search {
  padding: 15px;
  position: relative;
}

.vp-woo-pont-modal-replace-options-search input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 44px;
  margin: 0;
}

.vp-woo-pont-modal-replace-options-search .dashicons {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.vp-woo-pont-modal-replace-options ul {
  margin: 0;
  min-height: 300px;
}

.vp-woo-pont-modal-replace-options > ul > li {
  display: none;
  margin: 0;
}

.vp-woo-pont-modal-replace-options > ul > li.selected {
  display: block;
}

.vp-woo-pont-modal-replace-options > ul > li ul {
  height: 300px;
  overflow: auto;
}

.vp-woo-pont-modal-replace-options > ul > li ul li {
  padding: 5px 15px;
  margin: 0;
  border-bottom: 1px solid #CCD0D4;
  cursor: pointer;
  position: relative;
}

.vp-woo-pont-modal-replace-options > ul > li ul li strong {
  display: block;
}

.vp-woo-pont-modal-replace-options > ul > li ul li:after {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  content: "\f12a";
  font-family: 'dashicons';
  font-size: 24px;
  line-height: 24px;
  opacity: 0;
  transition: all ease 0.2s;
  color: #2271b1;
}

.vp-woo-pont-modal-replace-options > ul > li ul li:hover {
  background: #f0f6fc;
}

.vp-woo-pont-modal-replace-options > ul > li ul li:hover:after {
  opacity: 1;
}

.vp-woo-pont-modal-replace-options > ul > li ul li:last-child {
  border: none;
}

.vp-woo-pont-modal-replace .autocomplete-field {
  width: 100%;
  margin: 0;
}

.vp-woo-pont-modal-replace .autocomplete-list {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #CCD0D4;
  margin: 10px 0 0 0;
  max-height: 200px;
  overflow: auto;
}

.vp-woo-pont-modal-replace .autocomplete-list li {
  list-style-type: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
}

.vp-woo-pont-modal-replace .autocomplete-list li.autocomplete-item {
  cursor: pointer;
}

.vp-woo-pont-modal-replace .autocomplete-list li.autocomplete-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

@keyframes vp_woo_pont_blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.vp-woo-pont-modal-layout-selector article {
  background: #f5f5f5;
  text-align: center;
}

.vp-woo-pont-modal-layout-selector-paper {
  position: relative;
  width: 210px;
  height: 297px;
  background: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.vp-woo-pont-modal-layout-selector-paper.A4-L {
  width: 297px;
  height: 210px;
}

.vp-woo-pont-modal-layout-selector-paper div {
  position: absolute;
  cursor: pointer;
}

.vp-woo-pont-modal-layout-selector-paper div:before {
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  border: 1px dashed #dbdbdb;
  content: '';
  display: block;
  border-radius: 2px;
}

.vp-woo-pont-modal-layout-selector-paper div:before:hover {
  background: rgba(35, 113, 177, 0.1);
}

.vp-woo-pont-modal-layout-selector-paper div.selected:before {
  background: rgba(35, 113, 177, 0.1);
  border: 1px solid #2371B1;
}

.vp-woo-pont-transsped-packaging > label {
  display: flex !important;
  align-items: center;
}

.vp-woo-pont-transsped-packaging > label i {
  background: #C7DBEB;
  border-radius: 12px;
  color: #2371B1;
  padding: 3px 3px;
  text-align: center;
  min-width: 24px;
  font-style: normal;
  margin-left: 5px;
}

.vp-woo-pont-transsped-packaging ul li {
  display: flex;
  margin: 0 0 5px 0;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #8c8f94;
  padding: 0 0 0 8px;
  align-items: center;
}

.vp-woo-pont-transsped-packaging ul li.active {
  background: #E7EFF6;
  color: #2371B1;
}

.vp-woo-pont-transsped-packaging ul li label {
  margin: 0;
}

.vp-woo-pont-transsped-packaging ul li input {
  display: none;
}

.vp-woo-pont-transsped-packaging ul li .qty {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.vp-woo-pont-transsped-packaging ul li .qty span.value {
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}

.vp-woo-pont-transsped-packaging ul li .qty a {
  text-decoration: none;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.vp-woo-pont-transsped-packaging ul li .qty a:focus, .vp-woo-pont-transsped-packaging ul li .qty a:active {
  box-shadow: none;
  color: #2371B1;
}

.vp-woo-pont-transsped-packaging ul li .qty .dashicons-plus {
  line-height: 22px;
}
