@charset "UTF-8";
.vp-woo-pont-settings-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .vp-woo-pont-settings-wrapper {
    flex-direction: column;
  }
}

.vp-woo-pont-settings-checkbox-group {
  margin-top: 4px;
}

.vp-woo-pont-settings-checkbox-group-free_shipping, .vp-woo-pont-settings-checkbox-group-enabled_providers, .vp-woo-pont-settings-checkbox-group-cod_disabled {
  column-count: 3;
}

@media only screen and (max-width: 1400px) {
  .vp-woo-pont-settings-checkbox-group-free_shipping, .vp-woo-pont-settings-checkbox-group-enabled_providers, .vp-woo-pont-settings-checkbox-group-cod_disabled {
    column-count: 2;
  }
}

.vp-woo-pont-settings-checkbox-group li {
  break-inside: avoid;
}

.vp-woo-pont-settings-checkbox-group label {
  display: flex;
  align-items: center;
}

.vp-woo-pont-settings-checkbox-group label input {
  margin: 0 10px 0 0;
}

.vp-woo-pont-settings-checkbox-group label span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.vp-woo-pont-settings-checkbox-group-enabled_providers li {
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-checkbox-group-enabled_providers label i {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  margin-right: 10px;
}

.vp-woo-pont-settings-content {
  max-width: 1200px;
  width: 100%;
}

.vp-woo-pont-settings-content .vp-woo-pont-settings-section-title {
  border: 1px solid #CCD0D4;
  background: #F5F5F5;
  padding: 20px 80px 20px 20px;
  margin: 20px 0 0 0;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  position: relative;
}

.vp-woo-pont-settings-content .vp-woo-pont-settings-section-title:after {
  position: absolute;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #0073AA;
  text-align: center;
  line-height: 24px;
  right: 29px;
  top: 50%;
  margin-top: -12px;
  transition: all ease 0.5s;
  font-family: 'Dashicons';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  content: "\f347";
}

.vp-woo-pont-settings-content .vp-woo-pont-settings-section-title.open {
  background: #fff;
}

.vp-woo-pont-settings-content .vp-woo-pont-settings-section-title.open + .form-table {
  display: table;
}

.vp-woo-pont-settings-content .vp-woo-pont-settings-section-title.open:after {
  transform: rotate(180deg);
}

.vp-woo-pont-settings-content .vp-woo-pont-settings-section-title:hover {
  background: #fff;
}

.vp-woo-pont-settings-content .vp-woo-pont-settings-section-title h3.wc-settings-sub-title {
  margin: 0;
}

.vp-woo-pont-settings-content .vp-woo-pont-settings-section-title h3.wc-settings-sub-title + p {
  margin: 5px 0 0 0;
}

.vp-woo-pont-settings-content .vp-woo-pont-settings-section-title p {
  margin: 0;
}

.vp-woo-pont-settings-content > .form-table {
  background: #F5F5F5;
  border: 1px solid #CCD0D4;
  border-top: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  display: none;
}

.vp-woo-pont-settings-content > .form-table > tbody > tr:first-child > td {
  padding-top: 19px;
}

.vp-woo-pont-settings-content > .form-table > tbody > tr:first-child > th {
  padding-top: 24px;
}

.vp-woo-pont-settings-content > .form-table > tbody > tr:last-child > td {
  padding-bottom: 20px;
}

.vp-woo-pont-settings-content > .form-table > tbody > tr > th {
  padding-left: 20px;
}

.vp-woo-pont-settings-content > .form-table > tbody > tr > td {
  padding-right: 20px;
}

.vp-woo-pont-settings-content > .form-table > tbody > tr > td p {
  margin-top: 10px;
}

.vp-woo-pont-settings-content > .form-table > tbody > tr > td br + p {
  margin-top: 4px;
}

.vp-woo-pont-settings-content > .form-table td.vp-woo-pont-toggle-group-accounts-item {
  padding-top: 0;
}

@media only screen and (max-width: 1200px) {
  .vp-woo-pont-settings-content {
    order: 2;
  }
}

.vp-woo-pont-settings-sidebar {
  width: 400px;
  min-width: 300px;
  margin-left: 32px;
  padding-top: 1em;
}

@media only screen and (max-width: 1200px) {
  .vp-woo-pont-settings-sidebar {
    width: auto;
    margin: 0;
    order: 1;
  }
}

.vp-woo-pont-settings-widget {
  background: #fff;
  border: 1px solid #ccd0d4;
  margin: 0 0 20px 0;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.vp-woo-pont-settings-widget > h3 {
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-widget > p {
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-widget > ul {
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-widget > ul li:last-child {
  margin: 0;
}

.vp-woo-pont-settings-widget-rating p:last-of-type {
  display: flex;
}

.vp-woo-pont-settings-widget-rating p:last-of-type a {
  margin-right: 10px;
}

.vp-woo-pont-settings-widget-pro input {
  width: 100%;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-widget-pro ul li {
  position: relative;
  padding: 3px 0 3px 34px;
}

.vp-woo-pont-settings-widget-pro ul li span {
  color: #46B450;
  font-size: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
}

.vp-woo-pont-settings-widget-pro h4 {
  border-top: 1px solid #DDDDDD;
  margin: 20px -20px 10px -20px;
  padding: 20px 20px 0;
}

.vp-woo-pont-settings-widget-pro-cta {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.vp-woo-pont-settings-widget-pro-cta a {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 12px 0 8px;
  background: #46B450;
  border-radius: 3px;
  margin: 0 12px 0 0;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.vp-woo-pont-settings-widget-pro-cta a .dashicons {
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
}

.vp-woo-pont-settings-widget-pro-cta span small {
  font-size: 13px;
  display: block;
  color: rgba(34, 34, 34, 0.5);
}

.vp-woo-pont-settings-widget-pro-cta span strong {
  font-weight: bold;
  color: #46B450;
  display: block;
  font-size: 16px;
}

.vp-woo-pont-settings-widget-pro-renew {
  padding-top: 10px;
  overflow: hidden;
}

.vp-woo-pont-settings-widget-pro-renew p {
  margin: 0 0 10px 0;
  display: flex;
}

.vp-woo-pont-settings-widget-pro-renew a {
  height: 40px;
  display: flex;
  float: none;
  align-items: center;
  padding: 0 12px 0 8px;
  background: #46B450;
  border-radius: 3px;
  margin: 0 12px 0 0;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.vp-woo-pont-settings-widget-pro-renew a .dashicons {
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
}

.vp-woo-pont-settings-widget-pro-notice {
  position: relative;
  color: #DC3232;
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-widget-pro-notice span {
  color: #DC3232;
  margin-right: 10px;
}

.vp-woo-pont-settings-widget-pro-notice p {
  margin: 0;
}

.vp-woo-pont-settings-widget-pro-label {
  opacity: 0.7;
}

.vp-woo-pont-settings-widget-pro-deactivate {
  border-top: 1px solid #DDDDDD;
  margin: 20px -20px 10px -20px;
  padding: 20px 20px 0;
}

.vp-woo-pont-settings-widget-pro-deactivate p {
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-widget-pro-deactivate small {
  opacity: 0.7;
}

.vp-woo-pont-settings-widget-pro-active h3 {
  height: 32px;
  line-height: 32px;
}

.vp-woo-pont-settings-widget-pro-active h3 span {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: #46B450;
  margin: 0 5px 0 0;
}

.vp-woo-pont-settings-widget-pro-state-almost-expired {
  background: #FEF0E9;
  border: 1px solid #FBCFB9;
}

.vp-woo-pont-settings-widget-pro-state-almost-expired h3 span {
  color: #F56E28;
}

.vp-woo-pont-settings-widget-pro-state-expired {
  background: #FBEAEA;
  border: 1px solid #F3BCBC;
}

.vp-woo-pont-settings-widget-pro-state-expired h3 span {
  color: #DC3232;
}

.vp-woo-pont-settings-widget-files > ul {
  margin: 0 0 20px 0;
}

.vp-woo-pont-settings-widget-files ul li {
  position: relative;
  border-bottom: 1px solid #ccd0d4;
  padding: 10px 0;
}

.vp-woo-pont-settings-widget-files ul li div {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-widget-files ul li div a {
  margin-left: 10px;
  text-decoration: none;
}

.vp-woo-pont-settings-widget-files ul li div a span.label {
  color: #3c434a;
  display: none;
}

.vp-woo-pont-settings-widget-files ul li li {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
}

.vp-woo-pont-settings-widget-files ul li li .download-link {
  display: none;
}

.vp-woo-pont-settings-widget-files ul li li.has-file .dashicons-yes-alt {
  display: block;
}

.vp-woo-pont-settings-widget-files ul li li.has-file .dashicons-warning {
  display: none;
}

.vp-woo-pont-settings-widget-files ul li li.has-file .file-name {
  display: none;
}

.vp-woo-pont-settings-widget-files ul li li.has-file .download-link {
  display: block;
}

.vp-woo-pont-settings-widget-files ul li li a {
  text-decoration: none;
}

.vp-woo-pont-settings-widget-files ul li .dashicons-yes-alt {
  color: #00a32a;
  width: 24px;
  margin-right: 10px;
  text-align: center;
  display: none;
}

.vp-woo-pont-settings-widget-files ul li .dashicons-warning {
  color: #dba617;
  width: 24px;
  margin-right: 10px;
  text-align: center;
}

.vp-woo-pont-settings-widget-files ul li i {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  margin-right: 10px;
}

.vp-woo-pont-settings-widget-files-notice {
  position: relative;
  color: #DC3232;
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-widget-files-notice span {
  color: inherit;
  margin-right: 10px;
  display: none;
}

.vp-woo-pont-settings-widget-files-notice.success {
  color: #49B654;
}

.vp-woo-pont-settings-widget-files-notice.success span.dashicons-yes-alt {
  display: block;
}

.vp-woo-pont-settings-widget-files-notice.error {
  color: #DC3232;
}

.vp-woo-pont-settings-widget-files-notice.error span.dashicons-warning {
  display: block;
}

.vp-woo-pont-settings-widget-files-notice p {
  margin: 0;
}

.vp-woo-pont-settings–inline-table {
  background: #fff;
  width: 100%;
  border: 1px solid #CCD0D4;
  border-spacing: 0;
  border-collapse: collapse;
}

.vp-woo-pont-settings–inline-table-scroll {
  overflow-x: auto;
  border: 1px solid #CCD0D4;
  border-bottom: none;
}

.vp-woo-pont-settings–inline-table-scroll.border {
  border-bottom: 1px solid #CCD0D4;
}

.vp-woo-pont-settings–inline-table-scroll table {
  border: none;
}

.vp-woo-pont-settings–inline-table-scroll-accounting {
  border: none;
  border-top: 1px solid #CCD0D4;
}

.vp-woo-pont-settings–inline-table thead tr th {
  border-bottom: 1px solid #CCD0D4;
  padding: 11px 10px 10px 10px;
  font-weight: 600;
  color: #23282D;
  width: auto;
}

.vp-woo-pont-settings–inline-table tfoot tr td {
  padding: 10px 10px 9px 10px;
}

.vp-woo-pont-settings–inline-table thead tr th {
  white-space: nowrap;
}

.vp-woo-pont-settings–inline-table thead tr th:last-child {
  width: 1px;
  padding: 0;
}

.vp-woo-pont-settings–inline-table-buttons {
  display: flex;
  align-items: center;
}

.vp-woo-pont-settings–inline-table-buttons a.import {
  margin-left: auto;
  margin-right: 5px;
}

.vp-woo-pont-settings–inline-table tfoot a {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.vp-woo-pont-settings–inline-table tfoot a:focus {
  outline: none;
  box-shadow: none;
}

.vp-woo-pont-settings–inline-table tfoot a span {
  margin-right: 10px;
}

.vp-woo-pont-settings–inline-table tbody tr td {
  padding: 0;
  border-bottom: 1px solid #CCD0D4;
  border-right: 1px solid #CCD0D4;
  margin: 0;
}

.vp-woo-pont-settings–inline-table tbody tr td:last-child {
  border-right: none;
}

.vp-woo-pont-settings–inline-table tbody tr td > input[type="text"]:first-child,
.vp-woo-pont-settings–inline-table tbody tr td > input[type="number"]:first-child {
  border: none;
  background: #FFFFFF;
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0;
  width: 100% !important;
  padding: 6px 10px 5px 10px !important;
}

.vp-woo-pont-settings–inline-table tbody tr td > input[type="text"]:first-child:focus,
.vp-woo-pont-settings–inline-table tbody tr td > input[type="number"]:first-child:focus {
  box-shadow: 0 0 0 1px #007cba;
}

.vp-woo-pont-settings–inline-table tbody tr td select {
  line-height: normal !important;
  border: none;
  width: 100% !important;
  max-width: none;
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0;
  min-height: 0px;
  padding: 12px 24px 11px 10px;
}

.vp-woo-pont-settings–inline-table tbody tr td select.placeholder {
  color: #72777C;
}

.vp-woo-pont-settings–inline-table tbody tr td select:focus {
  box-shadow: 0 0 0 1px #007cba;
}

.vp-woo-pont-settings–inline-table tbody tr td a.delete-row {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CCCCCC;
  text-decoration: none;
}

.vp-woo-pont-settings–inline-table tbody tr td a.delete-row,
.vp-woo-pont-settings–inline-table tbody tr td a.add-row {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CCCCCC;
  text-decoration: none;
}

.vp-woo-pont-settings–inline-table-packeta-carriers td.vp-woo-pont-packeta-carriers-table-country strong {
  padding-left: 10px;
}

.vp-woo-pont-settings–inline-table-packeta-carriers tbody tr td:last-child {
  width: 60px;
}

.vp-woo-pont-settings–inline-table-packeta-carriers tbody tr td:last-child a {
  float: left;
}

.vp-woo-pont-settings–inline-table-packeta-carriers tbody tr:first-child td:last-child a:first-child {
  display: none;
}

.vp-woo-pont-settings–inline-table-packeta-carriers p {
  margin: 0 !important;
}

.vp-woo-pont-settings–inline-table-posta-countries tr td:first-child {
  padding: 10px;
}

.vp-woo-pont-settings–inline-table-posta-countries .select2-container .select2-selection--multiple {
  border-radius: 0px !important;
  border-color: transparent !important;
}

html .woocommerce table.form-table .vp-woo-pont-settings–inline-table-posta-countries .select2-container {
  max-width: none !important;
  min-width: 100% !important;
}

.vp-woo-pont-settings-pricing {
  border-radius: 4px;
  border: 1px solid #CCD0D4;
  background: #fff;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-pricing-add {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.vp-woo-pont-settings-pricing-add a {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.vp-woo-pont-settings-pricing-add a:focus {
  outline: none;
  box-shadow: none;
}

.vp-woo-pont-settings-pricing-add a span {
  margin-right: 10px;
}

.vp-woo-pont-settings-pricing-add a.import {
  margin-left: auto;
}

.vp-woo-pont-settings-pricing-title {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid #CCD0D4;
}

.vp-woo-pont-settings-pricing-title .cost-field {
  display: flex;
}

.vp-woo-pont-settings-pricing-title .cost-field small {
  background: rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 0 5px 5px 0;
  font-size: 14px;
  border: 1px solid #8c8f94;
  margin-left: -1px;
}

.vp-woo-pont-settings-pricing-title .cost-field input {
  width: auto !important;
  border-radius: 5px 0 0 5px;
}

.vp-woo-pont-settings-pricing-title span.text {
  margin: 0 10px;
}

.vp-woo-pont-settings-pricing-title a.delete-pricing {
  color: #a00;
}

.vp-woo-pont-settings-pricing-title label.conditional-toggle {
  margin-left: auto;
  margin-right: 20px;
}

.vp-woo-pont-settings-pricing-points, .vp-woo-pont-settings-pricing-countries {
  padding: 20px 0 1px 20px;
}

.vp-woo-pont-settings-pricing-points ul, .vp-woo-pont-settings-pricing-countries ul {
  display: flex;
  flex-wrap: wrap;
}

.vp-woo-pont-settings-pricing-points ul li, .vp-woo-pont-settings-pricing-countries ul li {
  margin: 0 20px 10px 0;
}

.vp-woo-pont-settings-pricing-countries {
  border-top: 1px solid #CCD0D4;
}

.vp-woo-pont-settings-pricing-if {
  border-bottom: 1px solid #CCD0D4;
  padding: 20px 20px 12px 20px;
}

.vp-woo-pont-settings-pricing-if-header {
  display: flex;
  align-items: center;
  color: #666666;
  padding-bottom: 8px;
}

.vp-woo-pont-settings-pricing-if-header select {
  margin: 0 10px !important;
  width: auto !important;
  line-height: 24px !important;
  min-height: 0px !important;
}

.vp-woo-pont-settings-pricing-if-options {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
}

.vp-woo-pont-settings-pricing-if-options select, .vp-woo-pont-settings-pricing-if-options input {
  width: auto !important;
  line-height: 24px !important;
  min-height: 0px !important;
}

.vp-woo-pont-settings-pricing-if-options li {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
}

.vp-woo-pont-settings-pricing-if-options li select,
.vp-woo-pont-settings-pricing-if-options li input[type="text"] {
  margin-right: 8px !important;
}

.vp-woo-pont-settings-pricing-if-options li select.value,
.vp-woo-pont-settings-pricing-if-options li input[type="text"].value {
  display: none;
}

.vp-woo-pont-settings-pricing-if-options li select.value.selected,
.vp-woo-pont-settings-pricing-if-options li input[type="text"].value.selected {
  display: block;
}

.vp-woo-pont-settings-pricing-if-options li a {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 27px;
  text-decoration: none;
  color: #CCCCCC;
}

.vp-woo-pont-settings-pricing-if-options li:first-child a.delete-row {
  display: none;
}

.vp-woo-pont-settings-pricing-option {
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.vp-woo-pont-settings-pricing-option small {
  position: absolute;
  line-height: 34px;
  bottom: 0;
  padding-right: 10px;
  right: 0;
}

.vp-woo-pont-settings-pricing-option input[type=text], .vp-woo-pont-settings-pricing-option select {
  width: 100% !important;
}

.vp-woo-pont-settings-pricing-option input[type=text] {
  padding: 2px 8px !important;
}

.vp-woo-pont-settings-pricing-option input[type="checkbox"] {
  margin-top: 9px;
}

.vp-woo-pont-settings-pricing-option label {
  margin: 0 0 5px 0;
  display: block;
}

.vp-woo-pont-settings-pricing-option-complete {
  display: flex;
}

.vp-woo-pont-settings-pricing-option-complete input[type="text"] {
  width: 100px !important;
  margin-left: 8px !important;
}

.vp-woo-pont-settings-cod-fee {
  border-radius: 4px;
  border: 1px solid #CCD0D4;
  background: #fff;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-cod-fee-add {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.vp-woo-pont-settings-cod-fee-add a {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.vp-woo-pont-settings-cod-fee-add a.add-disabled {
  color: #999;
  cursor: default;
}

.vp-woo-pont-settings-cod-fee-add a:focus {
  outline: none;
  box-shadow: none;
}

.vp-woo-pont-settings-cod-fee-add a span {
  margin-right: 10px;
}

.vp-woo-pont-settings-cod-fee-add a.import {
  margin-left: auto;
}

.vp-woo-pont-settings-cod-fee-title {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid #CCD0D4;
}

.vp-woo-pont-settings-cod-fee-title .fee-field {
  display: flex;
  align-items: center;
}

.vp-woo-pont-settings-cod-fee-title .fee-field label {
  padding: 0 10px;
}

.vp-woo-pont-settings-cod-fee-title .fee-field small {
  font-size: 14px;
}

.vp-woo-pont-settings-cod-fee-title .fee-field input {
  width: auto !important;
}

.vp-woo-pont-settings-cod-fee-title span.text {
  margin: 0 10px;
}

.vp-woo-pont-settings-cod-fee-title a.delete-cod-fee {
  color: #a00;
}

.vp-woo-pont-settings-cod-fee-title label.conditional-toggle {
  margin-left: auto;
  margin-right: 20px;
}

.vp-woo-pont-settings-cod-fee-if {
  border-bottom: 1px solid #CCD0D4;
  padding: 20px 20px 12px 20px;
}

.vp-woo-pont-settings-cod-fee-if-header {
  display: flex;
  align-items: center;
  color: #666666;
  padding-bottom: 8px;
}

.vp-woo-pont-settings-cod-fee-if-header select {
  margin: 0 10px !important;
  width: auto !important;
  line-height: 24px !important;
  min-height: 0px !important;
}

.vp-woo-pont-settings-cod-fee-if-options {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
}

.vp-woo-pont-settings-cod-fee-if-options select, .vp-woo-pont-settings-cod-fee-if-options input {
  width: auto !important;
  line-height: 24px !important;
  min-height: 0px !important;
}

.vp-woo-pont-settings-cod-fee-if-options li {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
}

.vp-woo-pont-settings-cod-fee-if-options li select,
.vp-woo-pont-settings-cod-fee-if-options li input[type="text"] {
  margin-right: 8px !important;
}

.vp-woo-pont-settings-cod-fee-if-options li select.value,
.vp-woo-pont-settings-cod-fee-if-options li input[type="text"].value {
  display: none;
}

.vp-woo-pont-settings-cod-fee-if-options li select.value.selected,
.vp-woo-pont-settings-cod-fee-if-options li input[type="text"].value.selected {
  display: block;
}

.vp-woo-pont-settings-cod-fee-if-options li a {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 27px;
  text-decoration: none;
  color: #CCCCCC;
}

.vp-woo-pont-settings-cod-fee-if-options li:first-child a.delete-row {
  display: none;
}

.vp-woo-pont-settings-cod-fee-option {
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.vp-woo-pont-settings-cod-fee-option small {
  position: absolute;
  line-height: 34px;
  bottom: 0;
  padding-right: 10px;
  right: 0;
}

.vp-woo-pont-settings-cod-fee-option input[type=text], .vp-woo-pont-settings-cod-fee-option select {
  width: 100% !important;
}

.vp-woo-pont-settings-cod-fee-option input[type=text] {
  padding: 2px 8px !important;
}

.vp-woo-pont-settings-cod-fee-option input[type="checkbox"] {
  margin-top: 9px;
}

.vp-woo-pont-settings-cod-fee-option label {
  margin: 0 0 5px 0;
  display: block;
}

.vp-woo-pont-settings-cod-fee-option-complete {
  display: flex;
}

.vp-woo-pont-settings-cod-fee-option-complete input[type="text"] {
  width: 100px !important;
  margin-left: 8px !important;
}

.vp-woo-pont-settings-points-add {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.vp-woo-pont-settings-points-add a {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.vp-woo-pont-settings-points-add a:focus {
  outline: none;
  box-shadow: none;
}

.vp-woo-pont-settings-points-add a span {
  margin-right: 10px;
}

.vp-woo-pont-settings-points-add a.import {
  margin-left: auto;
}

.vp-woo-pont-settings-points-header {
  border-radius: 4px;
  border: 1px solid #CCD0D4;
  background: #fff;
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  padding: 0 0 0 0;
  position: relative;
  z-index: 20;
}

.vp-woo-pont-settings-points-header-search {
  width: 100%;
}

.vp-woo-pont-settings-points-header-search input {
  border: none !important;
  padding: 10px 0 10px 44px !important;
  width: 100% !important;
}

.vp-woo-pont-settings-points-header-search input:focus, .vp-woo-pont-settings-points-header-search input:active {
  border: none !important;
  box-shadow: none !important;
}

.vp-woo-pont-settings-points-header-search span.dashicons {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  text-align: center;
  color: #8D8F94;
}

.vp-woo-pont-settings-points-header-search .autocomplete-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #CCD0D4;
  margin: 10px 0 0 0;
  max-height: 200px;
  overflow: auto;
  padding: 0;
}

.vp-woo-pont-settings-points-header-search .autocomplete-list li {
  list-style-type: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
}

.vp-woo-pont-settings-points-header-search .autocomplete-list ul {
  padding: 0;
  margin: 0;
}

.vp-woo-pont-settings-points-header-search .autocomplete-list li.autocomplete-item {
  cursor: pointer;
}

.vp-woo-pont-settings-points-header-search .autocomplete-list li.autocomplete-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.vp-woo-pont-settings-points-header-search .autocomplete-list li.autocomplete-group {
  padding: 0;
}

.vp-woo-pont-settings-points-header-search .autocomplete-list li.autocomplete-group h2 {
  font-size: 14px;
  margin: 0;
  padding: 8px 20px;
}

.vp-woo-pont-settings-points-header a.add {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
  white-space: nowrap;
  padding: 15px;
}

.vp-woo-pont-settings-points-header a.add:focus {
  outline: none;
  box-shadow: none;
}

.vp-woo-pont-settings-points-header a.add span {
  margin-right: 10px;
}

.vp-woo-pont-settings-point {
  border-radius: 4px;
  border: 1px solid #CCD0D4;
  background: #fff;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-point.open .vp-woo-pont-settings-point-header {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 0px 0px #CCD0D4;
}

.vp-woo-pont-settings-point.open .vp-woo-pont-settings-point-header .title span.dashicons {
  transform: translateY(-50%);
}

.vp-woo-pont-settings-point.open .vp-woo-pont-settings-point-options {
  display: flex;
}

.vp-woo-pont-settings-point-header {
  display: flex;
  align-items: center;
  padding: 0 20px 0 0;
}

.vp-woo-pont-settings-point-header .title {
  padding: 10px 0 10px 44px;
  cursor: pointer;
  position: relative;
}

.vp-woo-pont-settings-point-header .title span.dashicons {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 44px;
  text-align: center;
  color: #8D8F94;
}

.vp-woo-pont-settings-point-header a.delete-point {
  color: #a00;
  margin-left: auto;
}

.vp-woo-pont-settings-point-options {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 1px 20px;
  margin: 0;
  display: none;
}

.vp-woo-pont-settings-point-options li {
  margin: 0 20px 20px 0;
}

.vp-woo-pont-settings-point-options li label {
  display: block;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-point-options li input[type="text"] {
  width: 100% !important;
}

.vp-woo-pont-settings-point-options li textarea {
  width: 200%;
  height: 50px;
}

.vp-woo-pont-settings-point-options li.note {
  width: 100%;
}

.vp-woo-pont-settings-point-options li.hide {
  width: 100%;
}

.vp-woo-pont-settings-point-options li.openhours {
  width: 50%;
}

.vp-woo-pont-settings-point-options li.openhours input {
  margin: 0 0 5px 0 !important;
}

.vp-woo-pont-settings-point-options li.coordinates .field {
  position: relative;
}

.vp-woo-pont-settings-point-options li.coordinates .field input {
  padding-left: 30px !important;
}

.vp-woo-pont-settings-point-options li.coordinates .field .dashicons {
  position: absolute;
  left: 0;
  width: 30px;
  text-align: center;
  color: #2371B1;
  top: 50%;
  transform: translateY(-50%);
}

.vp-woo-pont-settings-tracking-automation {
  border-radius: 4px;
  border: 1px solid #CCD0D4;
  background: #fff;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-tracking-automation-add {
  padding: 10px 0 10px 0;
}

.vp-woo-pont-settings-tracking-automation-add a {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.vp-woo-pont-settings-tracking-automation-add a:focus {
  outline: none;
  box-shadow: none;
}

.vp-woo-pont-settings-tracking-automation-add a span {
  margin-right: 10px;
}

.vp-woo-pont-settings-tracking-automation-title {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 10px;
}

.vp-woo-pont-settings-tracking-automation-title-left > div {
  display: flex;
  align-items: center;
}

.vp-woo-pont-settings-tracking-automation-title span.text {
  margin: 0 10px;
}

.vp-woo-pont-settings-tracking-automation-title a.delete-tracking-automation {
  color: #a00;
  margin-left: auto;
}

.vp-woo-pont-settings-tracking-automation-title .select-field {
  position: relative;
  overflow: hidden;
  text-transform: lowercase;
}

.vp-woo-pont-settings-tracking-automation-title .select-field label {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #2371B1;
}

.vp-woo-pont-settings-tracking-automation-title .select-field label span {
  position: relative;
  padding-right: 13px;
}

.vp-woo-pont-settings-tracking-automation-title .select-field label span:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #2371B1 transparent transparent transparent;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2px;
}

.vp-woo-pont-settings-tracking-automation-title .select-field select {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.01;
  margin: 0 !important;
  width: auto !important;
}

.vp-woo-pont-settings-tracking-automation-options {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 1px 20px;
}

.vp-woo-pont-settings-tracking-automation-if {
  padding: 0;
}

.vp-woo-pont-settings-tracking-automation-if .text {
  padding: 10px 20px;
  display: block;
}

.vp-woo-pont-settings-tracking-automation-if-group {
  padding: 20px 20px 12px 20px;
  border-top: 1px solid #CCD0D4;
}

.vp-woo-pont-settings-tracking-automation-if-group > label {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-tracking-automation-if-group > label i {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  margin-right: 10px;
}

.vp-woo-pont-settings-tracking-automation-if-group > label i.vp-woo-pont-provider-icon-none {
  display: none;
}

.vp-woo-pont-settings-tracking-automation-if-group .select2 {
  width: 100% !important;
  display: block;
}

.vp-woo-pont-settings-automation {
  border-radius: 4px;
  border: 1px solid #CCD0D4;
  background: #fff;
  margin: 0 0 10px 0;
}

.vp-woo-pont-settings-automation-add {
  padding: 10px 0 10px 0;
}

.vp-woo-pont-settings-automation-add a {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.vp-woo-pont-settings-automation-add a:focus {
  outline: none;
  box-shadow: none;
}

.vp-woo-pont-settings-automation-add a span {
  margin-right: 10px;
}

.vp-woo-pont-settings-automation-title {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid #CCD0D4;
}

.vp-woo-pont-settings-automation-title span.text {
  margin: 0 10px;
}

.vp-woo-pont-settings-automation-title a.delete-automation {
  color: #a00;
}

.vp-woo-pont-settings-automation-title label.conditional-toggle {
  margin-left: auto;
  margin-right: 20px;
}

.vp-woo-pont-settings-automation-title .select-field {
  position: relative;
  overflow: hidden;
  text-transform: lowercase;
}

.vp-woo-pont-settings-automation-title .select-field label {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #2371B1;
}

.vp-woo-pont-settings-automation-title .select-field label span {
  position: relative;
  padding-right: 13px;
}

.vp-woo-pont-settings-automation-title .select-field label span:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #2371B1 transparent transparent transparent;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2px;
}

.vp-woo-pont-settings-automation-title .select-field select {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.01;
  margin: 0 !important;
  width: auto !important;
}

.vp-woo-pont-settings-automation-title .select-field-label {
  position: relative;
  overflow: hidden;
}

.vp-woo-pont-settings-automation-title .select-field-label label {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #2371B1;
  cursor: default;
}

.vp-woo-pont-settings-automation-title .select-field-label label span {
  position: relative;
}

.vp-woo-pont-settings-automation-title .select-field-label label i {
  width: 18px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url(../images/icon-label.svg);
}

.vp-woo-pont-settings-automation-options {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 1px 20px;
}

.vp-woo-pont-settings-automation-if {
  border-top: 1px solid #CCD0D4;
  padding: 20px 20px 12px 20px;
}

.vp-woo-pont-settings-automation-if-header {
  display: flex;
  align-items: center;
  color: #666666;
  padding-bottom: 8px;
}

.vp-woo-pont-settings-automation-if-header select {
  margin: 0 10px !important;
  width: auto !important;
  line-height: 19px !important;
  min-height: 0px !important;
}

.vp-woo-pont-settings-automation-if-options {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
}

.vp-woo-pont-settings-automation-if-options select, .vp-woo-pont-settings-automation-if-options input {
  width: auto !important;
  line-height: 24px !important;
  min-height: 0px !important;
}

.vp-woo-pont-settings-automation-if-options li {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
}

.vp-woo-pont-settings-automation-if-options li select,
.vp-woo-pont-settings-automation-if-options li input[type="text"] {
  margin-right: 8px !important;
}

.vp-woo-pont-settings-automation-if-options li select.value,
.vp-woo-pont-settings-automation-if-options li input[type="text"].value {
  display: none;
}

.vp-woo-pont-settings-automation-if-options li select.value.selected,
.vp-woo-pont-settings-automation-if-options li input[type="text"].value.selected {
  display: block;
}

.vp-woo-pont-settings-automation-if-options li a {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 27px;
  text-decoration: none;
  color: #CCCCCC;
}

.vp-woo-pont-settings-automation-if-options li:first-child a.delete-row {
  display: none;
}

.vp-woo-pont-settings-automation-option {
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.vp-woo-pont-settings-automation-option small {
  position: absolute;
  line-height: 34px;
  bottom: 0;
  padding-right: 10px;
  right: 0;
}

.vp-woo-pont-settings-automation-option input[type=text], .vp-woo-pont-settings-automation-option select {
  width: 100% !important;
}

.vp-woo-pont-settings-automation-option input[type=text] {
  padding: 2px 8px !important;
}

.vp-woo-pont-settings-automation-option input[type="checkbox"] {
  margin-top: 9px;
}

.vp-woo-pont-settings-automation-option label {
  margin: 0 0 5px 0;
  display: block;
}

.vp-woo-pont-settings-automation-option-complete {
  display: flex;
}

.vp-woo-pont-settings-automation-option-complete input[type="text"] {
  width: 100px !important;
  margin-left: 8px !important;
}

.vp-woo-pont-settings-home-deliveries tr td:first-child {
  padding: 10px;
}

.vp-woo-pont-settings-home-deliveries ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 !important;
  padding: 10px 10px 0 10px;
  list-style-type: none;
}

.vp-woo-pont-settings-home-deliveries ul li {
  margin: 0 10px 10px 0;
  padding: 0;
  list-style-type: none;
}

.vp-woo-pont-settings-home-deliveries ul li input[type="radio"] {
  display: none;
}

.vp-woo-pont-settings-home-deliveries ul li input[type="radio"]:checked + label:after {
  display: block;
}

.vp-woo-pont-settings-home-deliveries ul li input[type="radio"]:checked + label:before {
  background: #2371b1;
}

.vp-woo-pont-settings-home-deliveries ul li input[type="radio"]:checked + label {
  background: rgba(35, 113, 177, 0.1);
  box-shadow: none;
}

.vp-woo-pont-settings-home-deliveries ul li label {
  display: block;
  margin: 0;
  padding: 7px 10px 7px 36px;
  line-height: 1;
  box-shadow: inset 0px 0px 0px 1px rgba(35, 113, 177, 0.2);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center;
}

.vp-woo-pont-settings-home-deliveries ul li label i {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  margin-right: 10px;
}

.vp-woo-pont-settings-home-deliveries ul li label i.vp-woo-pont-provider-icon-none {
  display: none;
}

.vp-woo-pont-settings-home-deliveries ul li label:before {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 2px #2371b1;
  left: 10px;
  top: 50%;
  margin-top: -8px;
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
}

.vp-woo-pont-settings-home-deliveries ul li label:after {
  display: none;
  left: 15px;
  top: 50%;
  margin: -3px 0;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  content: '';
  box-sizing: border-box;
}

.vp-woo-pont-settings-home-deliveries ul li label strong {
  padding: 5px 0;
}

#woocommerce_vp_pont_sameday_pickup_point ~ span.select2 {
  float: left;
}

#woocommerce_vp_pont_sameday_pickup_point ~ p.description {
  clear: both;
}

#woocommerce_vp_pont_sameday_pickup_point_reload {
  float: left;
  width: 32px;
  height: 30px;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color ease 0.3s;
}

#woocommerce_vp_pont_sameday_pickup_point_reload .dashicons {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

#woocommerce_vp_pont_sameday_pickup_point_reload.loading span {
  animation: vp_woo_pont_block_spin 1s linear 0s infinite;
}

#woocommerce_vp_pont_sameday_pickup_point_reload:focus {
  box-shadow: none;
}

@keyframes vp_woo_pont_block_spin {
  100% {
    transform: rotate(360deg);
  }
}

.reload-packeta-carriers {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 5px;
  outline: none;
}

.reload-packeta-carriers:active, .reload-packeta-carriers:focus {
  outline: none;
  box-shadow: none;
}

.reload-packeta-carriers span.dashicons {
  margin-right: 5px;
}

.reload-packeta-carriers.loading span.dashicons {
  animation: vp_woo_pont_block_spin 1s linear 0s infinite;
}

.reload-packeta-carriers.fail {
  animation: vp_woo_pont_validate_shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes vp_woo_pont_validate_shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
