.vp-woo-pont-provider-icon-foxpost {
  background-image: url(../images/icon-foxpost.svg); }
.vp-woo-pont-provider-icon-postapont {
  background-image: url(../images/icon-postapont-csomagautomata.svg); }
.vp-woo-pont-provider-icon-mpl {
  background-image: url(../images/icon-postapont-posta.svg); }
.vp-woo-pont-provider-icon-posta {
  background-image: url(../images/icon-mpl.svg); }
.vp-woo-pont-provider-icon-postapont_10 {
  background-image: url(../images/icon-postapont-posta.svg); }
.vp-woo-pont-provider-icon-postapont_20 {
  background-image: url(../images/icon-postapont-mol.svg); }
.vp-woo-pont-provider-icon-postapont_30 {
  background-image: url(../images/icon-postapont-csomagautomata.svg); }
.vp-woo-pont-provider-icon-postapont_50 {
  background-image: url(../images/icon-postapont-coop.svg); }
.vp-woo-pont-provider-icon-postapont_70 {
  background-image: url(../images/icon-postapont-mediamarkt.svg); }
.vp-woo-pont-provider-icon-postapont_posta {
  background-image: url(../images/icon-postapont-posta.svg); }
.vp-woo-pont-provider-icon-postapont_mol {
  background-image: url(../images/icon-postapont-mol.svg); }
.vp-woo-pont-provider-icon-postapont_automata {
  background-image: url(../images/icon-postapont-csomagautomata.svg); }
.vp-woo-pont-provider-icon-postapont_coop {
  background-image: url(../images/icon-postapont-coop.svg); }
.vp-woo-pont-provider-icon-postapont_mediamarkt {
  background-image: url(../images/icon-postapont-mediamarkt.svg); }
.vp-woo-pont-provider-icon-postapont_postapont {
  background-image: url(../images/icon-postapont.svg); }
.vp-woo-pont-provider-icon-packeta {
  background-image: url(../images/icon-packeta.svg); }
.vp-woo-pont-provider-icon-packeta_zbox {
  background-image: url(../images/icon-packeta-zbox.svg); }
.vp-woo-pont-provider-icon-packeta_shop {
  background-image: url(../images/icon-packeta.svg); }
.vp-woo-pont-provider-icon-packeta_mpl_postapont {
  background-image: url(../images/icon-postapont-posta.svg); }
.vp-woo-pont-provider-icon-packeta_mpl_automata {
  background-image: url(../images/icon-postapont-csomagautomata.svg); }
.vp-woo-pont-provider-icon-sprinter {
  background-image: url(../images/icon-sprinter.svg); }
.vp-woo-pont-provider-icon-expressone {
  background-image: url(../images/icon-expressone.svg); }
.vp-woo-pont-provider-icon-expressone_alzabox {
  background-image: url(../images/icon-expressone-alzabox.svg); }
.vp-woo-pont-provider-icon-expressone_omv {
  background-image: url(../images/icon-expressone-omv.svg); }
.vp-woo-pont-provider-icon-expressone_packeta {
  background-image: url(../images/icon-expressone-packeta.svg); }
.vp-woo-pont-provider-icon-gls {
  background-image: url(../images/icon-gls.svg); }
.vp-woo-pont-provider-icon-gls_locker {
  background-image: url(../images/icon-gls-locker.svg); }
.vp-woo-pont-provider-icon-gls_shop {
  background-image: url(../images/icon-gls-shop.svg); }
.vp-woo-pont-provider-icon-dpd {
  background-image: url(../images/icon-dpd.svg); }
.vp-woo-pont-provider-icon-dpd_alzabox {
  background-image: url(../images/icon-expressone-alzabox.svg); }
.vp-woo-pont-provider-icon-dpd_parcelshop {
  background-image: url(../images/icon-dpd.svg); }
.vp-woo-pont-provider-icon-sameday {
  background-image: url(../images/icon-easybox.svg); }
.vp-woo-pont-provider-icon-custom {
  background-image: url(../images/icon-custom.svg); }
.vp-woo-pont-provider-icon-transsped {
  background-image: url(../images/icon-transsped.svg); }
.vp-woo-pont-provider-icon-pactic {
  background-image: url(../images/icon-pactic.svg); }
.vp-woo-pont-provider-icon-pactic_sk_gls {
  background-image: url(../images/icon-gls.svg); }
.vp-woo-pont-provider-icon-pactic_hr_gls {
  background-image: url(../images/icon-gls.svg); }
.vp-woo-pont-provider-icon-pactic_si_gls {
  background-image: url(../images/icon-gls.svg); }
.vp-woo-pont-provider-icon-pactic_ro_sameday {
  background-image: url(../images/icon-easybox.svg); }
.vp-woo-pont-provider-icon-pactic_pl_inpost {
  background-image: url(../images/icon-inpost.svg); }
.vp-woo-pont-provider-icon-pactic_bg_econt {
  background-image: url(../images/icon-econt.svg); }
.vp-woo-pont-provider-icon-pactic_sk_post {
  background-image: url(../images/icon-sk-post.svg); }
.vp-woo-pont-provider-icon-pactic_cz_ppl {
  background-image: url(../images/icon-ppl.svg); }
.vp-woo-pont-provider-icon-csomagpiac {
  background-image: url(../images/icon-csomagpiac.svg); }
.vp-woo-pont-provider-icon-csomagpiac_dpd {
  background-image: url(../images/icon-dpd.svg); }
.vp-woo-pont-provider-icon-csomagpiac_sameday {
  background-image: url(../images/icon-easybox.svg); }
.vp-woo-pont-provider-icon-csomagpiac_mpl_postapont {
  background-image: url(../images/icon-postapont.svg); }
.vp-woo-pont-provider-icon-csomagpiac_mpl_posta {
  background-image: url(../images/icon-postapont-posta.svg); }
.vp-woo-pont-provider-icon-csomagpiac_mpl_automata {
  background-image: url(../images/icon-postapont-csomagautomata.svg); }
.vp-woo-pont-provider-icon-dhl {
  background-image: url(../images/icon-dhl.svg); }
.vp-woo-pont-provider-icon-kvikk {
  background-image: url(../images/icon-kvikk.svg); }
.vp-woo-pont-provider-icon-kvikk_packeta {
  background-image: url(../images/icon-packeta.svg); }
.vp-woo-pont-provider-icon-kvikk_mpl {
  background-image: url(../images/icon-mpl.svg); }
.vp-woo-pont-provider-icon-kvikk_expressone {
  background-image: url(../images/icon-expressone.svg); }
.vp-woo-pont-provider-icon-kvikk_famafutar {
  background-image: url(../images/icon-famafutar.svg); }
.vp-woo-pont-provider-icon-kvikk_mpl_postapont {
  background-image: url(../images/icon-postapont.svg); }
.vp-woo-pont-provider-icon-kvikk_mpl_posta {
  background-image: url(../images/icon-postapont-posta.svg); }
.vp-woo-pont-provider-icon-kvikk_mpl_automata {
  background-image: url(../images/icon-postapont-csomagautomata.svg); }
.vp-woo-pont-provider-icon-kvikk_packeta_zpont {
  background-image: url(../images/icon-packeta.svg); }
.vp-woo-pont-provider-icon-kvikk_packeta_zbox {
  background-image: url(../images/icon-packeta-zbox.svg); }
.vp-woo-pont-provider-icon-kvikk_foxpost {
  background-image: url(../images/icon-foxpost.svg); }
.vp-woo-pont-provider-icon-kvikk_alzabox {
  background-image: url(../images/icon-expressone-alzabox.svg); }
.vp-woo-pont-provider-icon-kvikk_expressone_omv {
  background-image: url(../images/icon-expressone-omv.svg); }

.wp-admin .vp-woo-pont-provider-icon-kvikk_packeta_zpont {
  background-image: url(../images/icon-kvikk-packeta-zpont.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_packeta_zbox {
  background-image: url(../images/icon-kvikk-packeta-zbox.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_foxpost, .wp-admin .vp-woo-pont-provider-icon-kvikk_packeta_foxpost {
  background-image: url(../images/icon-kvikk-packeta-foxpost.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_alzabox, .wp-admin .vp-woo-pont-provider-icon-kvikk_expressone_alzabox {
  background-image: url(../images/icon-kvikk-expressone-alzabox.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_expressone_omv {
  background-image: url(../images/icon-kvikk-expressone-omv.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_mpl_postapont {
  background-image: url(../images/icon-kvikk-mpl-postapont.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_mpl_posta {
  background-image: url(../images/icon-kvikk-mpl-posta.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_mpl_automata {
  background-image: url(../images/icon-kvikk-mpl-automata.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_packeta {
  background-image: url(../images/icon-kvikk-packeta.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_expressone {
  background-image: url(../images/icon-kvikk-expressone.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_mpl {
  background-image: url(../images/icon-kvikk-mpl.svg);
  width: 72px !important;
  background-size: 100% !important; }
.wp-admin .vp-woo-pont-provider-icon-kvikk_famafutar {
  background-image: url(../images/icon-kvikk-famafutar.svg);
  width: 72px !important;
  background-size: 100% !important; }

@font-face {
  font-family: 'vp-woo-pont-tracking-icons';
  src: url("../fonts/vp-woo-pont-tracking-icons.eot?8pfz3g");
  src: url("../fonts/vp-woo-pont-tracking-icons.eot?8pfz3g#iefix") format("embedded-opentype"), url("../fonts/vp-woo-pont-tracking-icons.ttf?8pfz3g") format("truetype"), url("../fonts/vp-woo-pont-tracking-icons.woff?8pfz3g") format("woff"), url("../fonts/vp-woo-pont-tracking-icons.svg?8pfz3g#vp-woo-pont-tracking-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
.vp-woo-pont-tracking-page + .order-info {
  display: none; }

.vp-woo-pont-tracking-steps {
  margin: 0;
  padding: 0 0 20px;
  list-style-type: none;
  display: flex;
  align-items: flex-start; }

.vp-woo-pont-tracking-step {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .vp-woo-pont-tracking-step:last-child {
    text-align: right;
    width: 20%;
    white-space: nowrap; }
  .vp-woo-pont-tracking-step-label {
    white-space: nowrap; }
  .vp-woo-pont-tracking-step-icon {
    font-family: 'vp-woo-pont-tracking-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
    color: var(--vp-woo-pont-text-color); }
    .status-active .vp-woo-pont-tracking-step-icon {
      color: #2471B1; }
    .vp-woo-pont-tracking-step-icon-ordered:before {
      content: "\e900"; }
    .vp-woo-pont-tracking-step-icon-ready:before {
      content: "\e901"; }
    .vp-woo-pont-tracking-step-icon-shipped:before {
      content: "\e903"; }
    .vp-woo-pont-tracking-step-icon-delivery:before {
      content: "\e905"; }
    .vp-woo-pont-tracking-step-icon-delivered:before {
      content: "\e904"; }
    .vp-woo-pont-tracking-step-icon-pickup:before {
      content: "\e902"; }
  .vp-woo-pont-tracking-step-progress {
    position: relative;
    width: 100%;
    height: 8px;
    background: var(--vp-woo-pont-border-color);
    margin: 20px 0; }
    .vp-woo-pont-tracking-step-progress:before {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--vp-woo-pont-border-color);
      position: absolute;
      left: -1px;
      top: -6px;
      content: ''; }
  .vp-woo-pont-tracking-step.status-active .vp-woo-pont-tracking-step-progress {
    background: var(--vp-woo-pont-primary-color); }
    .vp-woo-pont-tracking-step.status-active .vp-woo-pont-tracking-step-progress:before {
      background: var(--vp-woo-pont-primary-color); }
  .vp-woo-pont-tracking-step.status-active.current:not(.step-delivered, .step-delivery) .vp-woo-pont-tracking-step-progress {
    background: linear-gradient(to right, var(--vp-woo-pont-primary-color) 50%, var(--vp-woo-pont-border-color) 50%); }
  .vp-woo-pont-tracking-step:last-child .vp-woo-pont-tracking-step-progress:before {
    left: auto;
    right: -1px; }
  .vp-woo-pont-tracking-step-date {
    text-transform: capitalize; }
  @media only screen and (max-width: 960px) {
    .vp-woo-pont-tracking-step {
      display: none;
      font-size: 80%; }
      .vp-woo-pont-tracking-step .vp-woo-pont-tracking-step-label,
      .vp-woo-pont-tracking-step .vp-woo-pont-tracking-step-date {
        padding-right: 10px; }
      .vp-woo-pont-tracking-step:first-child, .vp-woo-pont-tracking-step:last-child {
        display: flex; }
      .vp-woo-pont-tracking-step.current {
        display: flex; }
      .vp-woo-pont-tracking-step.step-delivered .vp-woo-pont-tracking-step-label,
      .vp-woo-pont-tracking-step.step-delivered .vp-woo-pont-tracking-step-date {
        display: none; }
      .vp-woo-pont-tracking-step.step-delivered.status-active {
        width: 50%; }
        .vp-woo-pont-tracking-step.step-delivered.status-active .vp-woo-pont-tracking-step-label,
        .vp-woo-pont-tracking-step.step-delivered.status-active .vp-woo-pont-tracking-step-date {
          display: block; }
      .vp-woo-pont-tracking-step.step-ordered.current + .step-ready {
        display: flex; } }

.vp-woo-pont-tracking-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  @media only screen and (max-width: 960px) {
    .vp-woo-pont-tracking-info {
      flex-direction: column; } }

.vp-woo-pont-tracking-events {
  margin: 0;
  padding: 0 40px 0 0;
  list-style-type: none; }
  @media only screen and (max-width: 960px) {
    .vp-woo-pont-tracking-events {
      padding: 0 0 20px 0; } }
  .vp-woo-pont-tracking-events-container {
    width: 70%; }
    @media only screen and (max-width: 960px) {
      .vp-woo-pont-tracking-events-container {
        width: 100%; } }
  .vp-woo-pont-tracking-events-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 13px; }
    @media only screen and (max-width: 760px) {
      .vp-woo-pont-tracking-events-title {
        flex-direction: column; } }
    .vp-woo-pont-tracking-events-title strong {
      font-size: 1.2em; }
    .vp-woo-pont-tracking-events-title span {
      text-align: right;
      font-size: 0.9em; }

.vp-woo-pont-tracking-event {
  margin: 0 0 10px 0;
  list-style-type: none;
  border-radius: 5px;
  padding: 12px 20px;
  background: var(--vp-woo-pont-border-color-alpha-30); }
  .vp-woo-pont-tracking-event:nth-child(2) {
    background: var(--vp-woo-pont-primary-color-alpha-10); }
  .vp-woo-pont-tracking-event-label {
    margin: 0; }
  .vp-woo-pont-tracking-event-date abbr {
    text-decoration: none; }

.vp-woo-pont-tracking-sidebar {
  width: 30%; }
  @media only screen and (max-width: 960px) {
    .vp-woo-pont-tracking-sidebar {
      width: 100%; } }

.vp-woo-pont-tracking-map {
  border-radius: 5px;
  border: 1px solid var(--vp-woo-pont-border-color);
  padding: 20px;
  margin: 0 0 20px 0; }
  .vp-woo-pont-tracking-map-title {
    display: block;
    font-size: 1.2em;
    margin: 0 0 10px 0; }
  .vp-woo-pont-tracking-map-view {
    height: 160px; }
    .vp-woo-pont-tracking-map-view .vp-woo-pont-marker div {
      width: 100%;
      height: 100%;
      position: relative;
      background: url(../images/marker-pin-bg.svg) no-repeat center; }
    .vp-woo-pont-tracking-map-view .vp-woo-pont-marker.selected div:before {
      position: absolute;
      width: 36px;
      height: 36px;
      content: '';
      background: var(--vp-woo-pont-primary-color-alpha-20);
      left: 6px;
      top: 6px;
      border-radius: 4px;
      display: block; }
    .vp-woo-pont-tracking-map-view .vp-woo-pont-marker i {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 12px;
      top: 12px;
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat; }
  .vp-woo-pont-tracking-map-info {
    margin: 0;
    padding: 10px 0 0 0;
    list-style-type: none; }
    .vp-woo-pont-tracking-map-info li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
    .vp-woo-pont-tracking-map-info-name {
      font-weight: bold; }
    .vp-woo-pont-tracking-map-info-comment {
      font-style: italic;
      font-size: 0.9em; }

.vp-woo-pont-tracking-order {
  margin: 0;
  padding: 13px 0;
  list-style-type: none;
  border-radius: 5px;
  border: 1px solid var(--vp-woo-pont-border-color); }
  .vp-woo-pont-tracking-order-title {
    font-size: 1.2em; }
  .vp-woo-pont-tracking-order-carrier span {
    display: flex;
    align-items: center; }
    .vp-woo-pont-tracking-order-carrier span i {
      width: 24px;
      height: 24px;
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      margin-right: 5px; }
  .vp-woo-pont-tracking-order li {
    margin: 0;
    padding: 7px 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .vp-woo-pont-tracking-order li strong {
      padding-right: 10px; }
    .vp-woo-pont-tracking-order li a {
      text-decoration: underline; }

/*# sourceMappingURL=tracking.css.map */
